﻿@model IepAuctions.Models.TokenCreate

@{
    ViewBag.Title = "Create";
}

<h2>Buy Tokens</h2>
<hr />
<h4>Tokens: @ViewBag.Tokens</h4>
<hr />
<h4>Choose Pack:</h4>
@{

}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("Create", "TokenOrders", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.RadioButtonFor(model => model.package_type, "SILVER", new { @checked = true }) <strong>SILVER</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fas fa-coins"></i> +@ViewBag.TokensSilver tokens</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>22 RSD</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.RadioButtonFor(model => model.package_type, "GOLD") <strong>GOLD</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fas fa-coins"></i> +@ViewBag.TokensGold tokens</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>30 RSD</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            @Html.RadioButtonFor(model => model.package_type, "PLATINUM") <strong>PLATINUM</strong>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <strong><i class="fas fa-coins"></i> +@ViewBag.TokensPlatinum tokens</strong>
                    </div>
                    <div class="col-md-4">
                        <strong>40 RSD</strong>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="submit" value="Create Order" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<br />
<br />