﻿@model IepAuctions.Models.TokenOrder

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TokenOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_of_tokens)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_of_tokens)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packet_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packet_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packet_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packet_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_confirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
