﻿@model PagedList.IPagedList<IepAuctions.Models.TokenOrderViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Token Orders</h2>

<p>
    <a href="@Url.Action("Create", "TokenOrders")" class="btn btn-default">
        <i class="fas fa-shopping-cart"></i>
        Buy Tokens
    </a>
</p>
<br />
<table class="table">
    <tr>
        <th>
            Order Id
        </th>
        <th>
            Tokens
        </th>
        <th>
            Package Price
        </th>
        <th>
            Package Type
        </th>
        <th>
            Order Status
        </th>
        <th>
            Time Created
        </th>
        <th>
            Time Confirmed
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.order_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.num_of_tokens)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.packet_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.packet_name)
        </td>
        <td>
            @{
                string[] arr = { "SUBMITTED", "CANCELED", "COMPLETED" };
                string order_status = arr[(int)item.order_status];
            }
            @order_status
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_confirmed)
        </td>
    </tr>
    }

</table>
<br />


@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount