﻿@model IepAuctions.Models.IndexViewModel
@{
    /**/

    ViewBag.Title = "";
}
<br /><br />
<h2>@ViewBag.Title</h2>


<p class="text-success">@ViewBag.StatusMessage</p>
<p class="text-danger">@ViewBag.ErrorMessage</p>
<h4>Change your account settings</h4>
<hr />


<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("ChangeDetails", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-1">  <i class="fas fa-user"></i> </div>
                <div class="col-md-2"> <b>Name: </b></div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">  <i class="fas fa-user"></i> </div>
                <div class="col-md-2"> <b>Surname: </b></div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">  <i class="fas fa-envelope"></i> </div>
                <div class="col-md-2"> <b>Email: </b></div>
                <div class="col-md-4">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-7">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="fas fa-cog"></i>
                        Save Changes
                    </button>
                    <!--
                    <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-primary btn-block">
                        <i class="fas fa-cog"></i>
                        Save Changes
                    </a>
                    -->
                </div>
            </div>
        }
        <br />
    </div>
</div>
