﻿@model IepAuctions.Models.IndexViewModel
@{
                /**/

                ViewBag.Title = "";
}
<br /><br />
<h2>@ViewBag.Title</h2>


<p class="text-success">@ViewBag.StatusMessage</p>
<h4>Change your account settings</h4>
<hr />

<div class="row">
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-2">  <i class="fas fa-user"></i> <b>Name: </b></div>
            <div class="col-md-4">
                @Model.Name
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"> <i class="fas fa-user"></i> <b>Surname: </b></div>
            <div class="col-md-4">
                @Model.Surname
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"> <i class="fas fa-envelope"></i> <b>Email: </b></div>
            <div class="col-md-4">
                @Model.Email
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"> <i class="fas fa-coins"></i> <b>Tokens: </b></div>
            <div class="col-md-4">
                @Model.Tokens
            </div>
        </div>
        <br />
        @if (User.IsInRole("Admin"))
        {
            <div class="row">
                <div class="col-md-7">
                    <a href="@Url.Action("Index", "SystemParameters")" class="btn btn-primary btn-block">
                        <i class="fas fa-cog"></i>
                        Change System Parameters
                    </a>
                </div>
            </div>
            <br />
        }
        <div class="row">
            <div class="col-md-7">
                <a href="@Url.Action("ChangeDetails", "Manage")" class="btn btn-primary btn-block">
                    <i class="fas fa-cog"></i>
                    Change User Information
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-7">
                <a href="@Url.Action("ChangePassword", "Manage")" class="btn btn-primary btn-block">
                    <i class="fas fa-cog"></i>
                    Change Password
                </a>
            </div>
        </div>
    </div>
</div>
