﻿@model IepAuctions.Models.Auction

@{
    ViewBag.Title = "Details";
}


<script>

    var hub;
    $(document).ready(function () {
        hub = $.connection.bidHub;

        hub.client.errorTokens = function (message) {
            alert(message);
        };

        hub.client.newBid = function (bidder, auction_id, price, tokens) {
            console.log("NEW BID " + tokens);

            $("#auction_price_" + auction_id).text(price);
            $("#auction_tokens_" + auction_id).text("(" + tokens);
            $("#bid_current_" + auction_id).val(tokens);
            $("#auction_background_" + auction_id).addClass("bg-danger");

            ////////////////////////////////////////////////
            //dodavanje u tabelu
            var row = $('<tr class="bg-danger"><td>' + bidder + "</td><td>" + price + "</td></tr>");
            if (firstRow != null) firstRow.removeClass("bg-danger");
            firstRow = row;
            row.hide();
            $("#bidders_table tbody").prepend(row);
            row.fadeIn("slow");
            /////////////////////////////////////////////////

            $("#auction_bidder_" + auction_id).text(bidder);
            highlightPrice(auction_id);
        };

        $.connection.hub.start().done(function () {
            sendBid = function (auction_id) {
                var userRoleAdmin = ('@User.IsInRole("Admin")');
                var userRoleUser = ('@User.IsInRole("User")');

                if (userRoleAdmin == "True" || userRoleUser == "True")
                {
                    var tokensToBid = $("#bid_tokens_" + auction_id).val();
                    var tokensInt;
                    if (tokensToBid == "") {
                        tokensToBid = $("#bid_current_" + auction_id).val();
                        tokensInt = parseInt(tokensToBid) + 1;
                    }
                    else {
                        tokensInt = parseInt(tokensToBid);
                    }

                    console.log("bid tokens: " + tokensInt);
                    hub.server.sendBid('@User.Identity.Name', auction_id, tokensInt);
                }
                else
                {
                    window.location.href = "/Account/Login";
                }
            }
        });
    });



    function highlightPrice(auction_id) {
        setTimeout(function () {
            $("#auction_background_" + auction_id).removeClass("bg-danger");
        }, 1000);
    }

    function toHHMMSS(sec) {
        var sec_num = parseInt(sec, 10);
        var hours = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours < 10) { hours = "0" + hours; }
        if (minutes < 10) { minutes = "0" + minutes; }
        if (seconds < 10) { seconds = "0" + seconds; }
        return hours + ':' + minutes + ':' + seconds;
    }

    setInterval(function () {
        $('[id^="auction_"]').each(function (index) {
            //console.log($(this).attr("id"));
            var id = $(this).attr("id");
            var time = $(this).text();

            var arr = time.split(":");
            var auctionId = id.split("_")[1];
            var sec = arr[2];
            var min = arr[1];
            var hour = arr[0];

            var secInt = parseInt(sec);
            if (secInt <= 10 && min == "00" && hour == "00") {
                $(this).css("color", "red");
            }

            if (sec == "00" && min == "00" && hour == "00") {
                $(this).css("color", "black");
                $("#auction_price_" + auctionId).removeClass("text-success");
                $("#auction_tokens_" + auctionId).removeClass("text-success");
                $("#auction_image_" + auctionId).removeClass("text-success");
                $("#bid_button_" + auctionId).removeClass("btn btn-warning btn-block");
                $("#bid_button_" + auctionId).addClass("btn btn-default btn-block");
                $("#bid_button_" + auctionId).prop('onclick', null);
                $("#bid_text_" + auctionId).text("Ended");
            }
            else
            {
                var state = $("#bid_text_" + auctionId).text();
                if (state == "Bid Now") {
                    var seconds = (+hour) * 60 * 60 + (+min) * 60 + (+sec);
                    var newTime = parseInt(seconds) - 1;
                    $(this).text(toHHMMSS(newTime));
                }
            }
        })
    }, 1000);

</script>


<br />
<h3>Auction details</h3>
<hr />

<div class="row">
    @Html.DisplayForModel()

    <div class="col-md-1">

    </div>

    <div class="col-md-4" style="overflow-y: scroll; height: 400px;">
        <table class="table table-hover" id="bidders_table">
            <thead>
                <tr>
                    <th>All bidders</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody id="table_content">
                @{
                    var db = new IepAuctions.Models.ApplicationDbContext();
                }

                @foreach (var item in Model.Bids.Reverse())
                {

                    var user = db.Users.Find(item.user_id);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.Email)
                        </td>
                        <td>
                            @{
                                string scaledPrice = ((double)(Model.token_value * item.num_of_tokens)).ToString("0.00");
                                string priceStr = Model.currency + " " + scaledPrice;
                            }
                            @priceStr
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    firstRow = $('#bidders_table tbody tr:nth-child(1)')
    firstRow.addClass("bg-danger");
</script>


