﻿@model PagedList.IPagedList<IepAuctions.Models.AuctionSearch>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}


<script>

    var hub;
    $(document).ready(function () {
        hub = $.connection.bidHub;

        hub.client.errorTokens = function (message) {
            alert(message);
        };

        hub.client.newBid = function (bidder, auction_id, price, tokens) {
            console.log("NEW BID " + tokens);

            $("#auction_price_" + auction_id).text(price);
            $("#auction_tokens_" + auction_id).text("(" + tokens);
            $("#bid_current_" + auction_id).val(tokens);
            $("#auction_background_" + auction_id).addClass("bg-danger");

            $("#auction_bidder_" + auction_id).text(bidder);
            highlightPrice(auction_id);
        };

        $.connection.hub.start().done(function () {
            sendBid = function (auction_id) {
                var userRoleAdmin = ('@User.IsInRole("Admin")');
                var userRoleUser = ('@User.IsInRole("User")');

                if (userRoleAdmin == "True" || userRoleUser == "True")
                {
                    var tokensToBid = $("#bid_tokens_" + auction_id).val();
                    var tokensInt;
                    if (tokensToBid == "") {
                        tokensToBid = $("#bid_current_" + auction_id).val();
                        tokensInt = parseInt(tokensToBid) + 1;
                    }
                    else {
                        tokensInt = parseInt(tokensToBid);
                    }

                    console.log("bid tokens: " + tokensInt);
                    hub.server.sendBid('@User.Identity.Name', auction_id, tokensInt);
                }
                else
                {
                    window.location.href = "/Account/Login";
                }
            }
        });
    });



    function highlightPrice(auction_id) {
        setTimeout(function () {
            $("#auction_background_" + auction_id).removeClass("bg-danger");
        }, 1000);
    }

    function toHHMMSS(sec) {
        var sec_num = parseInt(sec, 10);
        var hours = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours < 10) { hours = "0" + hours; }
        if (minutes < 10) { minutes = "0" + minutes; }
        if (seconds < 10) { seconds = "0" + seconds; }
        return hours + ':' + minutes + ':' + seconds;
    }

    setInterval(function () {
        $('[id^="auction_"]').each(function (index) {
            //console.log($(this).attr("id"));
            var id = $(this).attr("id");
            var time = $(this).text();

            var arr = time.split(":");
            var auctionId = id.split("_")[1];
            var sec = arr[2];
            var min = arr[1];
            var hour = arr[0];

            var secInt = parseInt(sec);
            if (secInt <= 10 && min == "00" && hour == "00") {
                $(this).css("color", "red");
            }

            if (sec == "00" && min == "00" && hour == "00") {
                $(this).css("color", "black");
                $("#auction_price_" + auctionId).removeClass("text-success");
                $("#auction_tokens_" + auctionId).removeClass("text-success");
                $("#auction_image_" + auctionId).removeClass("text-success");
                $("#bid_button_" + auctionId).removeClass("btn btn-warning btn-block");
                $("#bid_button_" + auctionId).addClass("btn btn-default btn-block");
                $("#bid_button_" + auctionId).prop('onclick', null);
                $("#bid_text_" + auctionId).text("Ended");
            }
            else
            {
                var state = $("#bid_text_" + auctionId).text();
                if (state == "Bid Now") {
                    var seconds = (+hour) * 60 * 60 + (+min) * 60 + (+sec);
                    var newTime = parseInt(seconds) - 1;
                    $(this).text(toHHMMSS(newTime));
                }
            }
        })
    }, 1000);

</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-xs-12">
            <h2>Auctions</h2>
        </div>
        <div class="col-sm-2 col-xs-12" style="padding-top: 20px">
            <a href="@Url.Action("Create", "Auctions")" class="btn btn-default">
                <i class="fas fa-plus"></i>
                Create
            </a>
        </div>
    </div>
    <hr />
    <div class="row bg-primary" style="padding-top: 20px">
        <div class="col-md-12">
            @using (Html.BeginForm("Index", "Auctions", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <div class="form-group">
                            <input value='@(ViewBag.searchString ?? "")' type="text" class="form-control" name="searchString" placeholder="Search Product" style="min-width: 100%">
                        </div>

                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <div class="form-group">
                            <select id="selectAuctionStatus" name="auctionStatus" class="form-control" style="min-width: 100%">

                                @if (ViewBag.auctionStatus == "0")
                                {
                                    <option value="-1">Status</option>
                                    <option value="0" selected>Ready</option>
                                    <option value="1">Opened</option>
                                    <option value="2">Completed</option>
                                }
                                else if (ViewBag.auctionStatus == "1")
                                {
                                    <option value="-1">Status</option>
                                    <option value="0">Ready</option>
                                    <option value="1" selected>Opened</option>
                                    <option value="2">Completed</option>
                                }
                                else if (ViewBag.auctionStatus == "2")
                                {
                                    <option value="-1">Status</option>
                                    <option value="0">Ready</option>
                                    <option value="1">Opened</option>
                                    <option value="2" selected>Completed</option>
                                }
                                else
                                {
                                    <option value="-1">Status</option>
                                    <option value="0">Ready</option>
                                    <option value="1">Opened</option>
                                    <option value="2">Completed</option>
                                }

                            </select>
                        </div>

                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" name="minPrice" placeholder="Min Price" value='@(ViewBag.minPrice ?? "")' style="min-width: 100%">
                        </div>                 
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <div class="form-group">
                            <input type="text" class="form-control" name="maxPrice" placeholder="Max Price" value='@(ViewBag.maxPrice ?? "")' style="min-width: 100%">
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">
                                <i class="fa fa-search"></i>Search
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<br /><br /> <br />

<div class="row">
    @Html.DisplayForModel()
</div>

<br />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.searchString, minPrice = ViewBag.minPrice, maxPrice = ViewBag.maxPrice, auctionStatus = ViewBag.auctionStatus }))
