﻿@model PagedList.IPagedList<IepAuctions.Models.AuctionSearch>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Won Auctions</h2>
<hr />
<br /><br />


<div class="row">
    @Html.DisplayForModel()
</div>

<br />
@Html.PagedListPager(Model, page => Url.Action("WonAuctions", new { page }))
