﻿
@model IepAuctions.Models.Auction
@{
    ViewBag.Title = "Auction";
}



<div class="col-md-3">
    <div class="panel panel-primary">
        <div class="panel-heading text-center" style="min-height: 50px; max-height: 50px;">
            <h3 class="panel-title">
                <a href='@Url.Action("Details", "Auctions", new { id = Model.auction_id })'> <strong>@Html.DisplayFor(modelItem => Model.product_name)</strong></a>
            </h3>
        </div>
        <div class="panel-body text-center" style="min-height: 250px; max-height: 250px;">
            <div class="auction-image" style="min-height: 100px; max-height: 100px; position: relative">
                <img src="data:image;base64,@System.Convert.ToBase64String(Model.product_image)" />
            </div>
            @{
                string timeStr;
                TimeSpan time = TimeSpan.FromSeconds((double)Model.duration);
                if (Model.status == 0)//ready
                {
                    timeStr = time.ToString(@"hh\:mm\:ss");
                    if (time.TotalDays >= 1)
                    {
                        timeStr = timeStr.Substring(2);
                        timeStr = (time.Days * 24 + time.Hours).ToString() + timeStr;

                    }
                }
                else if (Model.status == 1) //opened
                {
                    TimeSpan timeLeft = (DateTime)Model.date_opened + time - DateTime.UtcNow;
                    if (timeLeft.TotalSeconds < 0)
                    {
                        timeStr = "00:00:00";
                    }
                    else
                    {
                        timeStr = timeLeft.ToString(@"hh\:mm\:ss");
                        if (time.TotalDays >= 1)
                        {
                            timeStr = timeStr.Substring(2);
                            timeStr = (time.Days * 24 + time.Hours).ToString() + timeStr;

                        }
                    }
                }
                else //completed
                {
                    timeStr = "00:00:00";
                }

                string lastBidder;
                if (String.IsNullOrEmpty(Model.last_bidder)) //no bids
                {
                    lastBidder = "No Bids Yet";
                }
                else
                {
                    var db = new IepAuctions.Models.ApplicationDbContext();
                    var user = db.Users.Find(Model.last_bidder);
                    lastBidder = user.UserName;
                }

                string scaledPrice = ((double)(Model.token_value * Model.current_price)).ToString("0.00");
                string price = Model.currency + " " + scaledPrice;
            }
            <br />
            <h4 id="auction_@Model.auction_id" style="font-weight: bold">@timeStr</h4>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8" id="auction_background_@Model.auction_id" style="padding: 5px 0;">
                    @if (Model.status == 1)
                    {
                        <strong id="auction_price_@Model.auction_id" class="text-success">@price</strong>
                        <strong id="auction_tokens_@Model.auction_id" class="text-success">(@Model.current_price</strong>
                        <strong id="auction_image_@Model.auction_id" class="text-success"><i class="fas fa-coins"></i>)</strong>
                    }
                    else
                    {
                        <strong id="auction_price_@Model.auction_id">@price</strong>
                        <strong id="auction_tokens_@Model.auction_id">(@Model.current_price</strong>
                        <strong id="auction_image_@Model.auction_id"><i class="fas fa-coins"></i>)</strong>
                    }
                </div>
            </div>
            <strong id="auction_bidder_@Model.auction_id">@lastBidder</strong>
        </div>
        <div class="panel-footer text-center">
            <div class="form-group">
                <input id="bid_tokens_@Model.auction_id" type="number" oninput="this.value = this.value.replace(/[^0-9]/g, '');" class="form-control" placeholder="Enter a Bid" style="min-width: 100%" />
                <input id="bid_current_@Model.auction_id" type="hidden" value="@Model.current_price" />
            </div>

            @if (Model.status == 0)
            {
                if (User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("OpenAuction", "Auctions", new { id = Model.auction_id })" class="btn btn-success btn-block">
                        <strong>Open Auction</strong>
                    </a>
                }
                else
                {
                    <button class="btn btn-default btn-block">
                        <strong>Ready</strong>
                    </button>
                }
            }
            else if (Model.status == 1)
            {
                <button id="bid_button_@Model.auction_id" class="btn btn-warning btn-block" onclick="sendBid('@Model.auction_id')">
                    <strong id="bid_text_@Model.auction_id">Bid Now</strong>
                </button>
            }
            else if (Model.status == 2)
            {
                <button id="bid_@Model.auction_id" class="btn btn-default btn-block" value="Bid">
                    <strong id="bid_text_@Model.auction_id">Ended</strong>
                </button>
            }
        </div>
    </div>
</div>

